body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

#cover {
    height: 100%;
    min-height: 600px;
    background: url(../cover.jpg) center;
    background-size: cover;
    color: white;
    padding-bottom: 50px;
}

.navbar{
    background: rgba(0, 148, 57, 0.6);
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
    border-radius: 0px;
    margin-bottom: 0px;
}

.navbar-default {
    border-color: transparent;
}

a{
    color: white !important;
}

.wall-sticker {
    background: rgba(0, 0, 0, 0.4);
    padding: 7rem 4em 2rem 1rem;
    color: white;
    font-size: 350%;
}

.col-sm-8 {
    padding-top: 35px;
}

.moto {
    padding-top: 30px;
    font-size: 275%;
    text-align: right;
}

.rounded-circle {
    width: 190px;
    height: 310px;
}

#portrait {
    margin: 0 auto;
    border: 2px solid;
    border-color: black;

}

h3 {
    display: block;
    text-align: center;
}

hr {
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#self{
    padding-top: 30px;
    padding-bottom: 50px;
    background: #70e1f5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
}

.card{
    background: rgba(255, 252, 252, 0.8);
    padding-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.42);
}

#projects{
    padding-top: 50px;
    padding-bottom: 50px;
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

#card-project{
    margin: 10px 0px 10px 0px;
}

#img-project{
    border: 1.5px solid;
    border-color: black;
    height: auto;
}

#learn{
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
}
#learn:focus,
#learn:active,
#learn:visited,
#learn:hover{
    background-color: rgb(168, 233, 168);
}

#btn-app:focus,
#btn-app:active,
#btn-app:visited,
#btn-app:hover{
    background-color: rgba(23, 162, 184, 0.4);
    color: black;
}

#btn-app{
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
}

#btn-git:focus,
#btn-git:active,
#btn-git:visited,
#btn-git:hover{
    background-color: rgba(255, 193, 7, 0.4);
    color: black;
}

#btn-git{
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
}


hr.line-blue-left {
    border: 0;
    height: 3px;
    background: #41a9c6 !important;
    width: 166px;
    margin-bottom: 50px;
}

#contact{
    padding-top: 50px;
    padding-bottom: 50px;
}

#btn-cl{
    min-height: 200px;
    min-width: 150px;
    margin: 20px auto;
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
}

#btn-rem{
    min-height: 200px;
    min-width: 150px;
    margin: 20px auto;
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
}


#btn-cover-project:focus,
#btn-cover-project:active,
#btn-cover-project:visited,
#btn-cover-project:hover{
    background-color: rgba(1, 253, 14, 0.4);
    color: white;
}

#btn-cover-project{
    font-size: 40%;
    min-height: 50px;
    min-width: 175px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
    background-color: #f2f2f2;
}

#btn-cover-rem:focus,
#btn-cover-rem:active,
#btn-cover-rem:visited,
#btn-cover-rem:hover{
    background-color: rgba(253, 93, 1, 0.856);
    color: rgb(29, 10, 10);
    border-color: rgb(29, 10, 10);
}

#btn-cover-rem{
    font-size: 150%;
    min-height: 50px;
    min-width: 175px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
    background-color:  #0f0d13;   
}

#moto-1,
#moto-2,
#moto-3{
    font-family: 'Courgette', cursive;
    color: white;
}

#confirm-box{
    margin-top: 15px;
}

#sent-icon{
    display: inherit;
    color: green;
    font-size: 200px;
    text-align: center;
}

#ty-sent{
    text-align: center;
}

#btn-resend{
    display: inherit;
    margin: 0 auto; 
}

@media (max-width: 576px){
    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 767px){
    #btn-download {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
}

.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 500ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
    background-color: rgba(0,0,0,0.5) !important
}
  
.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    display: inline-block;
    position: unset;
    background: white;
    color: black;
    width: 60% ;
    outline: none;
    padding: 25px;
    text-align: center;
    font-size: 1.5vw;
}

@media (max-height: 420px){
    .modal {
        display: inline-block;
        position: unset;
        background: white;
        color: black;
        width: 60% ;
        height: 350px;
        outline: none;
        padding: 25px;
        text-align: center;
        font-size: 1.5vw;
        overflow: scroll;
    }
}

#modal-img {
    border: 1.5px solid;
    border-color: black;
    margin-bottom: 5px;
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

#title-modal{
    margin: 10px auto;
    font-size: 3.5vw;
} 

#btn-app-modal,
#btn-git-modal,
#btn-close-modal{
    margin: 7px 5px;
    width: 100%;
}

#buttons-modal{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

@media (max-width: 530px){
    #buttons-modal{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
}

.ReactModal__Body--open {
    overflow: hidden;
}